@model UsuarioModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-default">
    <div class="card-header">
        <h2>Actualizar Datos Personales</h2>
    </div>

    <div class="card-body">

        <form asp-controller="Usuarios" asp-action="ActualizarDatos">
            <div class="row">

                <div class="alert alert-default text-center" role="alert">
                    @ViewBag.Msj
                </div>

                <div class="col-2"></div>
                <div class="col-8">

                    <input type="hidden" asp-for="Id">

                    <div class="form-group col-md-12 mb-4">
                        Identificación
                        <input type="text" class="form-control input-lg" asp-for="Identificacion" placeholder="Identificación">
                    </div>

                    <div class="form-group col-md-12 mb-4">
                        Nombre
                        <input type="text" class="form-control input-lg" asp-for="NombreUsuario" placeholder="Nombre">
                    </div>

                    <div class="form-group col-md-12 ">
                        Correo
                        <input type="text" class="form-control input-lg" asp-for="Correo" placeholder="Correo">
                    </div>

                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary btn-pill mb-4">Procesar</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>


