@{
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

<div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh">
    <div class="d-flex flex-column justify-content-between">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="card card-default mb-0">
                    <div class="card-header pb-0">
                        <div class="app-brand w-100 d-flex justify-content-center border-bottom-0">
                            <a class="w-auto pl-0" href="/index.html">
                                <img src="~/img/logo.png" alt="Mono">
                                <span class="brand-name text-dark">Proyecto JN</span>
                            </a>
                        </div>
                    </div>
                    <div class="card-body px-5 pb-5 pt-0">

                        <h4 class="text-dark mb-6 text-center">Iniciar Sesión</h4>

                        <form action="/index.html">
                            <div class="row">
                                <div class="form-group col-md-12 mb-4">
                                    <input type="text" class="form-control input-lg" id="Identificacion" placeholder="Identificación">
                                </div>
                                <div class="form-group col-md-12 ">
                                    <input type="password" class="form-control input-lg" id="Contrasenna" placeholder="Contraseña">
                                </div>
                                <div class="col-md-12">

                                    <a href="@Url.Action("Principal","Login")" class="btn btn-primary btn-pill mb-4">Procesar</a>

                                    <div class="d-flex justify-content-between mb-3">

                                        <a class="text-color" href="#"> Recuperar la contraseña </a>

                                    </div>                                  

                                    <p>
                                        ¿No tienes una cuenta?
                                        <a class="text-blue" href="sign-up.html">Regístrate</a>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>