@model UsuarioModel

@{
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

<div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh">
    <div class="d-flex flex-column justify-content-between">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-xl-5 col-md-10 ">
                <div class="card card-default mb-0">
                    <div class="card-header pb-0">
                        <div class="app-brand w-100 d-flex justify-content-center border-bottom-0">
                            <a class="w-auto pl-0" href="/index.html">
                                <img src="~/img/logo.png" alt="Mono">
                            </a>
                        </div>
                    </div>
                    <div class="card-body px-5 pb-5 pt-0">
                        <h4 class="text-dark text-center mb-5">Registrar Cuenta</h4>
                        @if (ViewBag.Msj != null)
                        {
                            <div class="alert alert-default text-center" role="alert">
                                @ViewBag.Msj
                            </div>
                        }                       
                        <form asp-controller="Login" asp-action="RegistrarCuenta">
                            <div class="row">
                                <div class="form-group col-md-12 mb-4">
                                    <input type="text" class="form-control input-lg" asp-for="Identificacion" placeholder="Identificación">
                                </div>
                                <div class="form-group col-md-12 mb-4">
                                    <input type="text" class="form-control input-lg" asp-for="NombreUsuario" placeholder="Nombre">
                                </div>
                                <div class="form-group col-md-12 ">
                                    <input type="text" class="form-control input-lg" asp-for="Correo" placeholder="Correo">
                                </div>
                                <div class="form-group col-md-12 ">
                                    <input type="password" class="form-control input-lg" asp-for="Contrasenna" placeholder="Contraseña">
                                </div>
                                <div class="col-md-12">

                                    <button type="submit" class="btn btn-primary btn-pill mb-4">Procesar</button>

                                    <p>
                                        ¿Ya tienes una cuenta?
                                        <a class="text-blue" href="@Url.Action("IniciarSesion", "Login")">Iniciar Sesión</a>
                                    </p>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

